* {
    margin: 0;
    padding: 0;
    --slant-amount: 5vw;
}

body {
    background-color: #496ee7;
    font-family: 'Inter';
    font-size: 0.108vh; 
    /* 0.108 = 1 / 930  */
    /* 930px is roughly the height of the 1080p browser viewport that I designed the website on */
    /* this small bit of ugliness allows the rest of the website to use 'em' in place of 'px' and it all works nicely */
    /* notably unless it's a child element of something with its own font-size..... the one fatal flaw */

    --scalemult: 0.108; /* this can be used with a calc for hairy child element situations */
}

@keyframes coverfade {
    0% {
        background-color: rgba(73, 110, 231, 1);
        backdrop-filter: blur(2vh) grayscale(100%);
    }
    100% {
        background-color: rgba(73, 110, 231, 0);
        backdrop-filter: blur(0) grayscale(0);
    }
}

p {
    font-size: 16em;
}

a, a:visited {
    color: white;
}

.header {
    position: fixed;
    z-index: 2;
    width: auto;
    left: 0;
    right: 0;
    background-color: rgba(73, 110, 231, 1);
    color: white;
    font-weight: 900;
    padding: 50em 10vw;
    clip-path: polygon(0 0, 100% 0%, 100% calc(100% - var(--slant-amount)), 0 100%);
    white-space: nowrap;
    user-select: none;
    overflow: hidden;

    /* Chrome is very stupid and requires this to be on the unscrolled header too, otherwise clip-path doesn't work for some reason */
    backdrop-filter: blur(10em) saturate(0.3) brightness(1.2);
}

.scrolled .header {
    padding: 10em 10vw;
    background-color: rgba(73, 110, 231, 0.8);
    backdrop-filter: blur(10em) saturate(0.3) brightness(1.2);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
}

.header h1 {
    font-size: 80em;
    text-transform: lowercase;
    display: inline;
    
}

.scrolled .header h1 {
    font-size: 30em;
}

.header span {
    display: inline-block;
    line-height: 1;
    transition: line-height 0.2s;
}

.scrolled .header span {
    margin-left:2em;
    line-height: 1;
}

.header h2 {
    display: inline;
    font-size: 24em;
}

.scrolled .header h2 {
    font-size: 11em;
}

.header .nav {
    display: block;
    line-height: 0;
    margin-top: 0;
    margin-bottom: 5em;
}

.scrolled .header .nav {
    margin-top: 5em;
}

.header .nav a {
    font-size: 18em;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.2s;
    margin-left: 0.2em;
    margin-right: 0.2em;
}

.scrolled .header .nav a {
    margin-left: 0em;
}

.header .nav a:hover  {
    color: rgba(255, 255, 255, 0.8);
}

.header .nav a.inNavZone  {
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
}

/* Scroll transition times */
.scrolled .header, .scrolled .header .nav, .scrolled .header h1, .scrolled .header h2 {
    transition: 0.4s;
}

.header, .header .nav, .header h1, .header h2 {
    transition: 0.4s;
}

/* PANELS */

.panel {
    min-height: 300em;
    margin-bottom: calc(0vw - var(--slant-amount) - 1em);
    padding: calc(var(--slant-amount)/2 + 50em) 10vw;
    
    background-color: #496ee7;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    
}

.panel:nth-child(odd) {
    /* padding-top: calc(var(--slant-amount) * 2 + 10px); */
    clip-path: polygon(0 var(--slant-amount), 100% 0, 100% 100%, 0 calc(100% - var(--slant-amount)));
}

.panel:nth-child(even) {
    clip-path: polygon(0 0, 100% var(--slant-amount), 100% calc(100% - var(--slant-amount)), 0 100%);
}

.panel:first-child {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - var(--slant-amount)));
    padding-top: 240em;
}

.panel h1 {
    display: inline-block;
    width: fit-content;
    margin-bottom: calc(10vh * var(--scalemult));
    margin-top: calc(40vh * var(--scalemult));
    color: white;
    
    font-size: 100em;
    text-transform: lowercase;
    user-select: none;
    padding-bottom: calc(10vh * var(--scalemult));  
}

.panel h1 span {
    padding: calc(22vh * var(--scalemult));
    padding-bottom: calc(10vh * var(--scalemult));
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(1vh);
    line-height: 1.6em;
    border-radius: 1vh;
    box-decoration-break: clone;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0.1vh 0.6vh 0.3vh;
}

.blurcover {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    backdrop-filter: 0;
    animation-name: coverfade;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier();
    animation-iteration-count: 1;
    background-blend-mode: multiply;
}

/* annnnd this is where the fatal flaw of this whole em business comes in.... */

.panel p {
    display: block;
    width: fit-content;
    max-width: calc(800em / 16);
    padding: calc(15em / 16) calc(20em / 16);
    margin-bottom: calc(10em / 16);
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(calc(10em / 16)) saturate(0.8);
    border-radius: 1vh;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0.1vh 0.6vh 0.3vh;
    color: white;
}

#top.panel p {
    max-width: calc(600em / 16);
}

.panel:not(.slab) p {
    text-shadow: 0 calc(1em / 16) calc(5em / 16) rgba(0,0,0,0.9);
}

.panel .columns {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.panel .columns > div:not(:last-child) {
    margin-right: 10em;
}

.panel .columns iframe, .panel .columns lite-youtube {
    flex-grow: 1;
    height: 400em;
    max-width: 800em;
}

.imggrid {
    display: flex;
    flex: 30%;
    flex-wrap: wrap;
    margin: 0;
}
.imggrid div {
    flex: 50%;
    max-width: 50%;
}

.imggrid div img {
    width: 95%;
    vertical-align: middle;
    padding: 5%;
    padding-top: 0;
}

/* Call to action buttons */
.panel > a, .panel div > a {
    display: inline-flex;
    position: relative;
    width: auto;
    height: auto;
    font-size: 16em;
    padding: calc(15vh * var(--scalemult));
    margin-right: calc(4vh * var(--scalemult));
    margin-bottom: calc(50vh * var(--scalemult)); /* increases gap for long paragraph panels */
    color: white;
    text-decoration: none;
    box-shadow: 0 0 calc(10vh * var(--scalemult)) calc(-2vh * var(--scalemult)) rgba(0,0,0,0.5);
    transform: scale(1);
    transition: 0.2s;
    font-weight: bold;
    /* Default background colour */
    background-color: #999;

}

.panel > a:hover, .panel div > a:hover {
    box-shadow: 0 calc(3vh * var(--scalemult)) calc(15vh * var(--scalemult)) 0 rgba(0,0,0,0.5);
    z-index: 1;
    transform: scale(1.1);
}

.panel > a::before, .panel div > a::before {
    content: "";
    position: absolute;
    display: block;
    top:0%;
    left: 0%;
    background: linear-gradient(to bottom, white 0%, transparent 100%);
    height: 100%;
    width: 100%;
    opacity: 0.25;
    transition: 0.2s;
}

.panel > a:hover::before, .panel div > a:hover::before {
    content: "";
    position: absolute;
    display: block;
    top:0%;
    left: 0%;
    background: linear-gradient(to bottom, white 0%, rgba(255,255,255,0.2) 100%);
    height: 100%;
    width: 100%;
    opacity: 0.45;
}

/* SLAB Panels - for titles etc */

.panel.slab {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    height: 400em;
    width: auto;
    background-color: black;    
}

.panel.slab > div {
    width: 100%;
}

/* right side div */
.panel.slab > div > div {
    display: inline-block;
}

.panel.slab h1{
    display: inline;
    font-size: 150em;
    padding: 0;
    margin-bottom: 0;
    margin-right: calc(10vh * var(--scalemult));
    text-transform: lowercase;
}
.panel.slab p {
    display: inline-block;
    /* use preset width for all so that all subtitles wrap at the same screen width */
    padding: 0;
    max-width: fit-content;
    align-self: flex-end;
    background: none;
    backdrop-filter: none;
    text-align: left;
    font-size: 18em; /*calc(19vh * var(--scalemult));*/
    font-weight: bold;
    font-style: normal;
    user-select: none;

    margin-top: 0.5em;
    margin-bottom: 0.3em;
}
.panel:not(.slab) p.skills {
    text-shadow: none;
}

.skills span {
    background-color: #454545;
    color: white;
    display: inline-block;
    padding: calc(4vh * var(--scalemult)) calc(8vh * var(--scalemult));
    border-radius: calc(20vh * var(--scalemult));
    font-size: calc(12vh * var(--scalemult));
    font-style: normal;
    font-weight: normal;
    margin-right: 0.5em;
}

.panel#hovergallery {
    transition: background-image 0.2s;
    background-color: black;
}

.panel#hovergallery p {
    transform: translateX(0);
    transition: transform 0.5s;
}

.panel#hovergallery .lastHovered {
    transform: translateX(calc(20vh * var(--scalemult)));
}

::selection {
    background-color: rgba(255, 255, 255, .3);

}

.footline {
    display: flex;
    position: block;
    height: var(--slant-amount);
    padding: 0 40em;
    color: white;
    font-weight: 300;
}
.footline p {
    display: inline-block;
    align-self: flex-end;
    margin-bottom: calc(20vh * var(--scalemult));
}

.footline:nth-child(even) {
    text-align: right;
    flex-direction: column-reverse;
}

/* External link icon */
a[target="_blank"]::after {
    content: url('../img/ext.png');
    margin: 0 calc(3vh * var(--scalemult)) 0 calc(5vh * var(--scalemult));
    
}

/* Social icons */

.socials {
    user-select: none;
}

.socials:has(> a:hover) a:not(:hover) {
    opacity: 0.5;
    transform: scale(0.9);
}

.socials a {
    display: inline-flex;
    font-size: calc(1vh * var(--scalemult));
    width: 25em;
    height: 25em;
    margin: 3em;
    margin-left: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    transform: scale(1);
    transition: 0.2s;
    color:rgba(0,0,0,0);
    text-align: left;
    justify-content: center;
    align-items: center;

}

.socials a:hover {
    transform: scale(1.2);
    opacity: 1;
}

.socials a span {
    content: " ";
    color:white;
    font-style: normal;
    font-weight: 400;
    position: absolute;
    display: inline-block;
    text-align: center;
    width: calc(200vh * var(--scalemult));
    height: calc(30vh * var(--scalemult));
    top: calc(50vh * var(--scalemult));
    opacity: 0;
    pointer-events: none;
    transition: 0.2s;
    filter:blur(calc(5vh * var(--scalemult)));
    font-size: 16em;
}

.socials a:hover span {
    opacity: 1;
    top: calc(30vh * var(--scalemult));
    filter:blur(0);
}